<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mi perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-col size="12" class="col_perfil">
        <div class="perfil_imagen">
          <ion-avatar>
            <img src="./assets/img/user.png">
          </ion-avatar>
        </div>
        <ion-label class="label_nombre" color="white">
          {{usuario.nombre}} {{usuario.apellido}}
        </ion-label>
      </ion-col>
    </ion-card-content>
  </ion-card>
</ion-content>