<ion-header>
  <ion-toolbar>
    <!-- <ion-avatar slot="start" class="avatar_img">
      <img src="./assets/img/user.png">
    </ion-avatar> -->
    <ion-title>
      <ion-icon name="person-add-outline"></ion-icon>
      Solicitudes de amistad
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-virtual-scroll [items]="solicitudes" approxItemHeight="320px">
    <ion-item *virtualItem="let solicitud; let i = index">
      <ion-avatar slot="start">
        <img src="./assets/img/user.png">
      </ion-avatar>
      <ion-label>
        <h2>{{solicitud.nombre}} {{solicitud.apellido}}</h2>
      </ion-label>
      <ion-buttons>
        <ion-button class="btn_accion success">
          <ion-icon name="checkmark-outline" class="icon_success"></ion-icon>
        </ion-button>
        <ion-button class="btn_accion delete">
          <ion-icon name="close-outline" class="icon_delete"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-virtual-scroll>

</ion-content>