<ion-content class="page-content">
  <div class="logo background-header">
    <div>
      <ion-icon class="icon_login" name="chatbox-ellipses-outline"></ion-icon>
    </div>
    <div>
      <ion-label class="text_logo">
        ChatApp
      </ion-label>
    </div>
  </div>
  <ion-card class="login">
    <div class="bienvenidos_texto">
      Bienvenidos a ChatApp
    </div>
    <ion-card-content>
      <form [formGroup]="form">
        <ion-item>
          <ion-label position="floating" color="white">Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="white">Apellido</ion-label>
          <ion-input formControlName="apellido"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="white">Email</ion-label>
          <ion-input formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="white">Usuario</ion-label>
          <ion-input formControlName="usuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="white">Contraseña</ion-label>
          <ion-grid class="ion-no-margin ion-no-padding" fixed="true">
            <ion-row class="ion-align-items-center">
              <ion-col class="ion-no-padding">
                <ion-input clearOnEdit="false" formControlName="password"
                  [type]="(type_password ? 'password' : 'text')">
                </ion-input>
              </ion-col>
              <ion-col class="ion-no-padding" size="auto">
                <ion-button (click)="passwordTypeToggle()" fill="clear">
                  <ion-icon name="{{(type_password ? 'eye' : 'eye-off')}}"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </form>
    </ion-card-content>
    <ion-row class="row_button">
      <ion-col class="col_button">
        <ion-button class="button-ingresar" expand="block" (click)="submit();">
          Registrarse
        </ion-button>
        <ion-button color="white" class="button_cuenta" routerDirection="forward" [routerLink]="'/login'"
          expand="block">
          Iniciar sesión
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>